################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SetByte class/bin/Debug
/SetByte class/obj/Debug
*.suo
*.user
/MyFileSync/MyFileSync/obj/Debug
/MyFileSync/MyFileSync.Console/bin/Debug
/MyFileSync/MyFileSync.Console/obj/Debug
/MyFileSync/MyFileSync/bin/Debug
/MyFileSync/MyFileSync/obj/Release
/MyFileSync/MyFileSync.Console/obj/Release
/MyFileSync/UnitTest/bin/Debug
/MyFileSync/UnitTest/obj/Debug
/MyFileSync/.vs/MyFileSync/v16/TestStore/0
/MyFileSync/UnitTest/TestPaths.txt
/MyFileSync/packages
